# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output

# dependencies
node_modules
bower_components
.sass-cache

# IDEs and editors
/.idea
.editorconfig
*spec.ts
*.service.js
*.component.js


# System Files
.DS_Store
Thumbs.db

#Secret Files
keys.ts
