/* You can add global styles to this file, and also import other style files */
body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color:#F9FBE7;
  margin:0;
  color: rgba(0,0,0,0.87);
}

button:focus {
  outline: none;
}

.border-div-level-1{
  box-shadow: 1px 1px 1px black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #F0F4C3;
}

.button-style{
  display: block;
  background-color:#EA80FC;
  box-shadow: 1px 1px 8px gray;
  color:rgba(0,0,0,0.54);
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration:none!important;
  color:inherit;
  font-weight: inherit;
}
